<mat-tab-group>
  <mat-tab label="Welcome Admin, here you can edit or add products 😊">
    <div class="header">
      <h1>Product Management</h1>
      <button
        mat-button
        (click)="_store.HandleSideBar()"
        matTooltip="Close Cart"
      >
        <mat-icon class="icon-close">arrow_back_ios</mat-icon>
      </button>
    </div>

    <form [formGroup]="productForm" *ngIf="!_data.editMode">
      <mat-icon>add_shopping_cart</mat-icon>
      <h3>Add New Product</h3>
      <mat-form-field>
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Product Name"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="price"
          type="number"
          placeholder="Price"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="image"
          type="url"
          placeholder="Image url"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category_id" required>
          <mat-option
            *ngFor="let category of categories"
            value="{{ category.prodCategoryId }}"
          >
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="productForm.invalid"
          (click)="
            _data.createNewProduct(
              productForm.value.name,
              productForm.value.price,
              productForm.value.image,
              productForm.value.category_id
            );
            resetForm()
          "
        >
          Add product
        </button>
      </div>
    </form>

    <form [formGroup]="productForm" *ngIf="_data.editMode">
      <mat-icon>edit</mat-icon>
      <h3>Edit Product</h3>
      <mat-form-field>
        <input
          matInput
          formControlName="name"
          type="text"
          placeholder="Product Name"
          [(ngModel)]="_data.prodForEdit.prodName"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="price"
          type="number"
          placeholder="Price"
          [(ngModel)]="_data.prodForEdit.prodPrice"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          formControlName="image"
          type="url"
          placeholder="Image url"
          [(ngModel)]="_data.prodForEdit.prodImage"
        />
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="category_id" required>
          <mat-option
            *ngFor="let category of categories"
            value="{{ category.prodCategoryId }}"
          >
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
        <mat-error>
          {{ requiredMsg }}
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="
            _data.editProduct(
              _data.prodForEdit.prodId,
              productForm.value.name,
              productForm.value.price,
              productForm.value.image,
              productForm.value.category_id
            );
            confirmEdit()
          "
        >
          Save changes
        </button>
        <button
          type="button"
          mat-raised-button
          color="accent"
          (click)="closeEdit()"
        >
          Discard changes
        </button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
