@media only screen and (max-width: 800px) {
  table {
    width: 100%;
  }
}

mat-form-field {
  width: 300px;
}

.add-btn {
  margin-right: 1%;
  margin-top: 1%;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
}
