<form>
  <mat-form-field appearance="outline">
    <input
      matInput
      placeholder="What can we help you find today?"
      type="text"
      [(ngModel)]="filteredString"
      name="filteredString"
    />
    <mat-icon matSuffix><mat-icon matSuffix>search</mat-icon></mat-icon>
  </mat-form-field>
</form>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [(opened)]="opened">
    <app-product-form *ngIf="isAdminConnected"></app-product-form>
    <app-cart *ngIf="isUserConnected"></app-cart>
  </mat-drawer>

  <div class="container">
    <button mat-button (click)="HandleSideBar()" matTooltip="Open/Close Cart">
      <mat-icon class="material-icons-outlined cart"> shopping_cart </mat-icon>
    </button>
    <div class="buttons">
      <mat-tab-group>
        <mat-tab label="General"
          ><div class="main">
            <ng-container>
              <mat-card
                *ngFor="let product of _data.products | filter: filteredString"
                class="my-card h-100"
              >
                <img mat-card-image [src]="product.prodImage" alt="image" />
                <mat-card-content>{{ product.prodName }}</mat-card-content>
                <mat-card-content>${{ product.prodPrice }}</mat-card-content>
                <mat-card-actions>
                  <button
                    *ngIf="isUserConnected"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="
                      openDialog(product.prodId, openCart.shoppingCartId)
                    "
                  >
                    Add
                  </button>

                  <button
                    *ngIf="isAdminConnected"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="editProduct(product)"
                  >
                    Edit
                  </button>
                </mat-card-actions>
              </mat-card>
              <h3 class="result-message" *ngIf="_data.products.length === 0">
                Sorry! No products found...☹️
              </h3>
            </ng-container>
          </div></mat-tab
        >
        <mat-tab
          *ngFor="let category of categories"
          (click)="_data.getProdCategoryById(category.prodCategoryId)"
          label="{{ category.categoryName }}"
        >
          <div class="main">
            <ng-container *ngFor="let product of _data.products">
              <mat-card
                *ngIf="category.prodCategoryId === product.categoryId"
                class="my-card h-100"
              >
                <img mat-card-image [src]="product.prodImage" alt="image" />
                <mat-card-content>{{ product.prodName }}</mat-card-content>
                <mat-card-content>${{ product.prodPrice }}</mat-card-content>
                <mat-card-actions>
                  <button
                    *ngIf="isUserConnected"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="
                      openDialog(product.prodId, openCart.shoppingCartId)
                    "
                  >
                    Add
                  </button>
                  <button
                    *ngIf="isAdminConnected"
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="editProduct(product)"
                  >
                    Edit
                  </button>
                </mat-card-actions>
              </mat-card>
              <h3 class="result-message" *ngIf="_data.products.length === 0">
                Sorry! No products found...☹️
              </h3>
            </ng-container>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</mat-drawer-container>
