mat-card {
  width: 400px;
  margin: auto;
}

table {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  table {
    width: 100%;
  }
}

tr.mat-footer-row {
  font-weight: bold;
}
th.mat-header-cell {
  font-weight: bold;
}

.icon-close {
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
}

.prodImage {
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.material-icons {
  color: gray;
  cursor: pointer;
}

.mat-icon:hover {
  color: rgb(255, 67, 99);
  cursor: pointer;
}

td {
  text-align: center;
}

.highlightText {
  background: yellow;
}
