<mat-tab-group>
  <mat-tab label="Welcome to your Shopping Cart and have a great day 😊">
    <div class="header">
      <h1>My Cart</h1>
      <button
        mat-button
        (click)="_store.HandleSideBar()"
        matTooltip="Close Cart"
      >
        <mat-icon class="icon-close">arrow_back_ios</mat-icon>
      </button>
    </div>

    <table
      mat-table
      [dataSource]="_data.cartItems"
      className="padding-table-columns"
    >
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let product" class="prodImage">
          <img [src]="product.prodImage" />
        </td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="product">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; vertical-align: middle"
        >
          Product
        </th>
        <td mat-cell *matCellDef="let product">{{ product.prodName }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: left; vertical-align: middle"
        >
          Quantity
        </th>
        <td mat-cell *matCellDef="let product">{{ product.quantity }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let product">{{ product.prodPrice }}$</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let product">{{ product.Total }}$</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="text-align: center; vertical-align: middle"
        >
          Edit
        </th>
        <td mat-cell *matCellDef="let product" class="actions">
          <mat-icon (click)="_data.addOneProdQuantity(product.prodInCartId)">
            add_circle
          </mat-icon>
          <mat-icon (click)="_data.deleteProduct(product.prodInCartId)">
            delete
          </mat-icon>
          <mat-icon
            (click)="
              _data.removeOneProdQuantity(
                product.prodInCartId,
                product.quantity
              )
            "
          >
            remove_circle
          </mat-icon>
        </td>
        <td mat-footer-cell *matFooterCellDef>{{ _data.getCartSum() }}$</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="test"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <div class="footer">
      <button
        class="btn-remove"
        type="button"
        mat-button
        (click)="_data.emptyCart(openCart.shoppingCartId)"
      >
        <mat-icon>remove_shopping_cart</mat-icon> Empty cart
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="_data.cartItems.length === 0"
        routerLink="/checkout"
      >
        Checkout
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
