table {
  width: 440px;
}

@media only screen and (max-width: 800px) {
  table {
    width: 100%;
  }
}

tr.mat-footer-row {
  font-weight: bold;
}
th.mat-header-cell {
  font-weight: bold;
}

.btn-remove {
  color: gray;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.5;
}

.icon-close {
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prodImage {
  height: 75px;
  width: 75px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 2px 0 2px 0 !important;
}

img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

.material-icons {
  color: gray;
  cursor: pointer;
}
.material-icons:hover {
  color: rgb(255, 67, 99);
  cursor: pointer;
}

td {
  text-align: center;
}
