.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button,
a {
  width: 230px;
  margin: 2px;
}
