mat-form-field.mat-form-field {
  width: 50px;
}

mat-icon {
  color: gray;
  font-size: 1.7rem;
  margin-right: 8px;
  margin-left: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

mat-icon:hover {
  color: rgb(255, 67, 99);
  opacity: 1;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.actions {
  justify-content: center;
}
