form {
  display: flex;
  flex-direction: column;
}

.image {
  width: 120px;
  display: flex;
  margin: auto;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.error {
  color: tomato;
}

@media only screen and (max-width: 422px) {
  mat-form-field {
    width: 100%;
  }
}

.userbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
