<mat-grid-list cols="3" class="my-grid-list">
  <mat-grid-tile class="my-grid-tile">
    <mat-card>
      <mat-card-title> Login Panel </mat-card-title>
      <!-- <div *ngIf="isUserConnected">
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="goToShoppingPage()">
        {{ openCart ? "Resume shopping" : "Go Shopping" }}
      </button>
    </mat-card-actions>

    <mat-card-subtitle *ngIf="welcomeMessage">{{
      welcomeMessage
    }}</mat-card-subtitle>

    <mat-card-subtitle *ngIf="openCart">
      Open Cart ${{ openCart.totalPrice }} from {{ openCart.created_at }}
    </mat-card-subtitle>
  </div>

  <mat-card-actions *ngIf="isAdminConnected">
    <button mat-raised-button color="accent" (click)="goToShoppingPage()">
      Products Management
    </button>
  </mat-card-actions> -->

      <div paddingTop="50px">
        <mat-card-content>
          <form
            [formGroup]="loginForm"
            fxLayout="column"
            fxLayoutAlign="start start"
            fxLayoutGap="15px"
          >
            <mat-form-field>
              <input
                matInput
                formControlName="username"
                type="email"
                placeholder="eMail"
              />
              <mat-error *ngIf="requiredValidation1('username')">
                {{ requiredMsg }}
              </mat-error>
              <mat-error *ngIf="loginForm.get('username').errors?.email">
                Please provide a valid Email address.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                formControlName="password"
                type="password"
                placeholder="Password"
              />
              <mat-error *ngIf="requiredValidation1('password')">
                {{ requiredMsg }}
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>

        <mat-card-actions>
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="
              _data.login(loginForm.value.username, loginForm.value.password)
            "
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
          <button mat-raised-button color="accent" routerLink="/register">
            Register
          </button>
        </mat-card-actions>
      </div>
      <!-- <img
    (click)="goToShoppingPage()"
    class="open-sign fade-in"
    mat-card-image
    *ngIf="isUserConnected && !openCart"
    src="https://cdn.pixabay.com/photo/2014/04/02/11/11/welcome-305504_1280.png"
  />
  <img
    (click)="goToShoppingPage()"
    class="open-sign fade-in"
    mat-card-image
    *ngIf="isUserConnected && openCart"
    src="https://cdn.pixabay.com/photo/2020/02/26/07/41/grocery-basket-4880912_1280.png"
  /> -->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="my-grid-tile"><app-about></app-about></mat-grid-tile>
  <mat-grid-tile class="my-grid-tile"
    ><app-statistics></app-statistics
  ></mat-grid-tile>
</mat-grid-list>
