form {
  display: flex;
  flex-direction: column;
}

.image {
  width: 200px;
  display: flex;
  margin: auto;
  padding-bottom: 15px;
}

mat-card {
  width: 100%;
}

.error {
  color: tomato;
}

@media only screen and (max-width: 422px) {
  mat-form-field {
    width: 100%;
  }
}
